
:root {
  --color-background: #C9C9C9;
  --color-foreground: #393939;
  --color-primary: #AADB1E;
}

:root {
  --gap: 2rem;
  --line-height: 1rem;
  --font-primary: "Noway", sans-serif;
  --font-secondary: "Noway", sans-serif;
  --font-size: 1rem;
}
