:root {
  --color-background: #231f20;
  --color-foreground: #b6b8ba;
  --color-primary: #AADB1E;
}

:root {
  --gap: 1rem;
  --line-height: 1rem;
  --font-primary: "IBM Plex Mono", monospace;
  --font-secondary: "IBM Plex Mono", monospace;
  --font-size: 1rem;
}

:root {
  --point-length: 33vw;
}

@media screen and (orientation: portrait) {
  :root {
    --point-length: 33vh;
  }
}
