
:root {
  --color-background: #111111;
  --color-foreground: #f5f5f5;
  --color-primary: #AADB1E;
  --color-secondary: #8F0651;
  --color-tertiary: #452ADB;
}

:root {
  --gap: 2rem;
  --line-height: 1rem;
  --font-primary: "Casper", sans-serif;
  --font-secondary: "Casper", sans-serif;
  --font-size: 1rem;
}