@use "/assets/css/utilities";

.button {
  background: transparent;
  border: none;
  color: var(--color-foreground);
  cursor: pointer;
  display: inline-block;
  height: calc(2 * var(--line-height));
  margin: 0;
  padding: 0;
  vertical-align: text-bottom;
  width: calc(2 * var(--line-height));

  svg {
    height: 100%;
    transition: all 0.25s ease-in-out;
    width: auto;

    line, path, rect {
      fill: currentColor;
      stroke: none;
    }
  }

  span {
    @include utilities.hidden;
  }

  &:hover {
    color: var(--color-primary);

    svg {
    }
  }
}
