@font-face {
  font-family: "Casper";
  src: url("~/assets/fonts/Casper.woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Casper";
  src: url("~/assets/fonts/CasperItalic.woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Casper";
  src: url("~/assets/fonts/CasperBold.woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Casper";
  src: url("~/assets/fonts/CasperBoldItalic.woff2");
  font-weight: 700;
  font-style: italic;
}