#init-screen {
  align-items: center;
  background-color: var(--color-background);
  display: flex;
  height: 100vh;
  justify-content: center;
  padding: var(--gap);
  position: fixed;
  width: 100vw;
  z-index: 10;

  .init-message {
    color: var(--color-foreground);
    text-align: center;
  }
}
