#page-header {
  height: calc(8 * var(--line-height));
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(calc(-2.4 * var(--line-height)), calc(-4 * var(--line-height)));
  width: calc(4.8 * var(--line-height));
  z-index: 100;
}
