@use "/assets/css/utilities";

html, body {
  color: var(--color-primary);
  font-family: var(--font-primary);
  font-size: var(--line-height);
  line-height: var(--line-height);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3 {
  margin: 0;
}

h1 {
  position: relative;
  z-index: 100;

  span {
    @include utilities.hidden;
  }

}

h2 {
  align-content: center;
  font-size: calc(4 * var(--font-size));
  font-weight: 100;
  line-height: calc(4 * var(--line-height));
  text-align: right;
  text-transform: uppercase;
  word-break: break-word;
}


h3 {
  font-size: var(--font-size);
  font-weight: 300;
  line-height: var(--line-height);
  text-align: right;
  text-transform: uppercase;
  word-break: break-word;

  @media (min-width: 768px) {
    font-size: calc(2 * var(--font-size));
    line-height: calc(2 * var(--line-height));

  }
}
