@use "../variables";

#visualizer {
  height: calc(2 * var(--point-length));
  left: 50%;
  position: fixed;
  top: 50%;
  width: calc(2 * var(--point-length));
  z-index: 0;
}

#canvas {
  height: 100%;
  position: relative;
  width: 100%;

  .point-container {
    left: 0;
    position: absolute;
    top: 0;
    transform-origin: center top;
    transition: transform 0.125s ease-in-out;

    .point {
      background-color: var(--color-primary);
      border-radius: 1px;
      height: var(--point-length);
      overflow: hidden;
      width: 2px;
    }
  }

}
