#logo {
  height: calc(8 * var(--line-height));
  width: calc(4.8 * var(--line-height));

  path {
    stroke: none;
  }

  .s {
    fill: var(--color-background);
  }

  .s-shadow-right {
    fill: url(#s-shadow-right-gradient);

  }

  .s-shadow-left {
    fill: url(#s-shadow-left-gradient);
  }
}
